<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
  <ul>
    <li>
        <div class="logo-image" style="padding: 25px 16px;">
          <img src="/static/images/penguin.png" width=45px class="img-fluid">
        </div>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=home')">Overview</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=census')">1 - Census</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=reproduction')">2 - Reproduction</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=environment/ecosystem')">3 - Environment/Ecosystem</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=dataset')">Dataset</a>
    </li>


  </ul>
  <iframe src="http://localhost:8501/?p=home" id="streamlit_content" allowfullscreen frameborder="0"
    wmode="transparent">
    Your browser doesn't support iframes
  </iframe>

</body>
<script>
  function setURL(url) {
    document.getElementById('streamlit_content').src = url;
  }
</script>

</html>